In [68]:
import numpy as np
import pandas as pd

In [69]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [70]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [71]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

## Data Preprocessing

In [72]:
movies = movies.merge(credits, on='title')

#id
#title
#overview
#genre
#keywords
#release date
#cast
#crew

In [73]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [74]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [75]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

#merge other columns with overview and filter out unnecessary entities

In [76]:
movies.isnull().sum()
#check null values

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [77]:
movies.dropna(inplace=True)
#remove null values

In [78]:
movies.duplicated().sum()
#check duplicates

np.int64(0)

In [79]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [80]:
# '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

# convert this dictionary form to

# ['Action','Adventure', 'Fantasy', 'Sci-Fi']

In [81]:
import ast
def convert (obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [82]:
movies['genres'] = movies['genres'].apply(convert)

In [83]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [84]:
movies['keywords'] = movies['keywords'].apply(convert)

In [85]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [86]:
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter !=3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [87]:
movies['cast'] = movies['cast'].apply(convert3)

In [88]:
def fetch_director (obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [89]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [90]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [91]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [92]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [93]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [94]:
# convert 'Sam Worthington' to 'Sam_Worthington'

In [95]:
movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

0       [Action, Adventure, Fantasy, ScienceFiction]
1                       [Adventure, Fantasy, Action]
2                         [Action, Adventure, Crime]
3                   [Action, Crime, Drama, Thriller]
4                [Action, Adventure, ScienceFiction]
                            ...
4804                       [Action, Crime, Thriller]
4805                               [Comedy, Romance]
4806               [Comedy, Drama, Romance, TVMovie]
4807                                              []
4808                                   [Documentary]
Name: genres, Length: 4806, dtype: object

In [96]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [97]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],"[A, cryptic, message, from, Bond’s, past, send..."

In [98]:
new_df = movies[['movie_id','title','tags']]

In [99]:
new_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [100]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\anshu\AppData\Local\Temp\ipykernel_22200\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [101]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [102]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy Science Fiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d Sam Worthington Zoe Saldana Sigourney Weaver James Cameron'

In [103]:
new_df['tags'].apply(lambda x:x.lower())

0       in the 22nd century, a paraplegic marine is di...
1       captain barbossa, long believed to be dead, ha...
2       a cryptic message from bond’s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary, former military ca...
                              ...
4804    el mariachi just wants to play his guitar and ...
4805    a newlywed couple's honeymoon is upended by th...
4806    "signed, sealed, delivered" introduces a dedic...
4807    when ambitious new york attorney sam is sent t...
4808    ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [104]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\anshu\AppData\Local\Temp\ipykernel_22200\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [105]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

## Vectorization (Text Vectorization)

In [106]:
!pip install nltk
import nltk

Requirement already satisfied: nltk in c:\users\anshu\appdata\local\programs\python\python313\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\anshu\appdata\local\programs\python\python313\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\anshu\appdata\local\programs\python\python313\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\anshu\appdata\local\programs\python\python313\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\anshu\appdata\local\programs\python\python313\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\anshu\appdata\local\programs\python\python313\lib\site-packages (from click->nltk) (0.4.6)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: C:\Users\anshu\AppData\Local\Programs\Python\Python313\python.exe -m pip install --upgrade pip

In [107]:
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()

In [108]:
def stem(text):
    y = []

    # Remove punctuation and keep only words/numbers
    
    
    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [109]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\anshu\AppData\Local\Temp\ipykernel_22200\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [110]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi scienc fiction cultur clash futur space war space coloni societi space travel futurist romanc space alien tribe alien planet cgi marin soldier battl love affair anti war power relat mind and soul 3d sam worthington zoe saldana sigourney weaver jame cameron'

In [111]:
new_df['tags'][1]

"captain barbossa, long believ to be dead, ha come back to life and is head to the edg of the earth with will turner and elizabeth swann. but noth is quit as it seems. adventur fantasi action ocean drug abus exot island east india trade compani love of one' life traitor shipwreck strong woman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting johnni depp orlando bloom keira knightley gore verbinski"

In [112]:
#calculate the similarity score ofthe text to find the similarity between the 2 movies

In [113]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words = 'english')

In [114]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [115]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(4806, 5000))

In [116]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], shape=(4806, 5000))

In [117]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zooey', 'zucker', 'zwick'],
      shape=(5000,), dtype=object)

In [118]:
ps.stem('Loved')

'love'

In [119]:
stem('in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy science fiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d sam worthington zoe saldana sigourney weaver james cameron')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi scienc fiction cultur clash futur space war space coloni societi space travel futurist romanc space alien tribe alien planet cgi marin soldier battl love affair anti war power relat mind and soul 3d sam worthington zoe saldana sigourney weaver jame cameron'

In [120]:
from sklearn.metrics.pairwise import cosine_similarity

In [121]:
similarity = cosine_similarity(vectors)

In [122]:
sorted(list(enumerate(similarity[0])), reverse = True, key=lambda x:x[1])[1:6]

[(2405, np.float64(0.490079493105597)),
 (4336, np.float64(0.4113063728303113)),
 (1533, np.float64(0.38807121827489494)),
 (3160, np.float64(0.3879852850993631)),
 (373, np.float64(0.380442955126341))]

In [123]:
similarity[0]

array([1.        , 0.06692745, 0.06554735, ..., 0.04406051, 0.03121953,
       0.        ], shape=(4806,))

In [124]:
#Sort top 5 similar movies

In [125]:
sorted(similarity[0], reverse=True)

[np.float64(0.9999999999999998),
 np.float64(0.490079493105597),
 np.float64(0.4113063728303113),
 np.float64(0.38807121827489494),
 np.float64(0.3879852850993631),
 np.float64(0.380442955126341),
 np.float64(0.3776782946782564),
 np.float64(0.37191715263086833),
 np.float64(0.35840861465369933),
 np.float64(0.3421708589084696),
 np.float64(0.3311330892662609),
 np.float64(0.32780503405359285),
 np.float64(0.3247499344668203),
 np.float64(0.3222129681246328),
 np.float64(0.3204941007114358),
 np.float64(0.31906199086795106),
 np.float64(0.3143730417143384),
 np.float64(0.31360753782198686),
 np.float64(0.3121952705272313),
 np.float64(0.30592618704273417),
 np.float64(0.30588764516074896),
 np.float64(0.30442954117128224),
 np.float64(0.3008967382970351),
 np.float64(0.30066001672920123),
 np.float64(0.2974059387397313),
 np.float64(0.2949687762244818),
 np.float64(0.2938769068226293),
 np.float64(0.29314232661238443),
 np.float64(0.2913971185543096),
 np.float64(0.29135827337403253),
 np.float64(0.28821435994419775),
 np.float64(0.2867696673382022),
 np.float64(0.2866297455600074),
 np.float64(0.2861757357361695),
 np.float64(0.2845551966122361),
 np.float64(0.2838874869788345),
 np.float64(0.2838874869788344),
 np.float64(0.27912109783679506),
 np.float64(0.2739326246646317),
 np.float64(0.27042102426470555),
 np.float64(0.2605842192811105),
 np.float64(0.2604940361258638),
 np.float64(0.26013299085723596),
 np.float64(0.25958499574503335),
 np.float64(0.25605197407973057),
 np.float64(0.2549193760626268),
 np.float64(0.25391668753850405),
 np.float64(0.25387276871303704),
 np.float64(0.2533558548547658),
 np.float64(0.24722569302909875),
 np.float64(0.24678382369818672),
 np.float64(0.2445579940222592),
 np.float64(0.24366985862022406),
 np.float64(0.24333213169614373),
 np.float64(0.24309485018510557),
 np.float64(0.24165972609347458),
 np.float64(0.24002133617819923),
 np.float64(0.23893907643579956),
 np.float64(0.23498939817841866),
 np.float64(0.23498939817841863),
 np.float64(0.23475647508309566),
 np.float64(0.23475647508309563),
 np.float64(0.2342460684935891),
 np.float64(0.23366150977305886),
 np.float64(0.23366150977305886),
 np.float64(0.23288666826750604),
 np.float64(0.2294157338705617),
 np.float64(0.22790142204853647),
 np.float64(0.22528177844479147),
 np.float64(0.2204856030790368),
 np.float64(0.2204155075111935),
 np.float64(0.22030256079226748),
 np.float64(0.2188621723886089),
 np.float64(0.21851870503052434),
 np.float64(0.21371260356627755),
 np.float64(0.21341639745917707),
 np.float64(0.2130071614211525),
 np.float64(0.21179343552183932),
 np.float64(0.21052631578947367),
 np.float64(0.20991342856239587),
 np.float64(0.20991342856239587),
 np.float64(0.2074364287612964),
 np.float64(0.20561572340611634),
 np.float64(0.20519567041703082),
 np.float64(0.20441907985364974),
 np.float64(0.20295302744752147),
 np.float64(0.20138310507789547),
 np.float64(0.20138310507789547),
 np.float64(0.20107367308916743),
 np.float64(0.20073876713674155),
 np.float64(0.19918863762856526),
 np.float64(0.19664205760333864),
 np.float64(0.19619314913492367),
 np.float64(0.19619314913492364),
 np.float64(0.19564639521780738),
 np.float64(0.195099743142927),
 np.float64(0.1946978894863169),
 np.float64(0.1938916835823703),
 np.float64(0.1911797782254681),
 np.float64(0.19088542889273327),
 np.float64(0.1860807318911967),
 np.float64(0.18560646746692377),
 np.float64(0.18560646746692377),
 np.float64(0.185539010998235),
 np.float64(0.1842105263157894),
 np.float64(0.18394180184548975),
 np.float64(0.1830104449656007),
 np.float64(0.18249909877210785),
 np.float64(0.18074256993863336),
 np.float64(0.179968508266339),
 np.float64(0.17951515631559245),
 np.float64(0.17920430732684967),
 np.float64(0.17844356324383875),
 np.float64(0.17770466332772766),
 np.float64(0.17699808135119716),
 np.float64(0.17660431427533915),
 np.float64(0.17624204863381399),
 np.float64(0.1757398728916594),
 np.float64(0.1749783098183389),
 np.float64(0.17497830981833887),
 np.float64(0.17380866549724555),
 np.float64(0.17342199390482396),
 np.float64(0.17292861596651862),
 np.float64(0.1720618004029213),
 np.float64(0.17099639201419237),
 np.float64(0.17040572913692198),
 np.float64(0.17040572913692198),
 np.float64(0.17013926184468015),
 np.float64(0.17013926184468012),
 np.float64(0.17013926184468012),
 np.float64(0.1675415633166782),
 np.float64(0.16747265870207706),
 np.float64(0.16747265870207706),
 np.float64(0.16747265870207703),
 np.float64(0.16742770563222895),
 np.float64(0.16692446522239715),
 np.float64(0.16556654463313047),
 np.float64(0.16556654463313047),
 np.float64(0.16531163063339513),
 np.float64(0.1642706150496122),
 np.float64(0.16427061504961218),
 np.float64(0.16386838133611553),
 np.float64(0.16335983103519902),
 np.float64(0.1630554699247529),
 np.float64(0.16289594138375035),
 np.float64(0.1615552112476628),
 np.float64(0.16122923187750418),
 np.float64(0.16122923187750418),
 np.float64(0.16122923187750418),
 np.float64(0.16062314155080884),
 np.float64(0.16059101370939322),
 np.float64(0.15974461276617435),
 np.float64(0.15929827321607742),
 np.float64(0.15907119074394444),
 np.float64(0.1590711907439444),
 np.float64(0.15897016107942197),
 np.float64(0.15897016107942194),
 np.float64(0.15806712450288418),
 np.float64(0.15789473684210523),
 np.float64(0.1577233170360112),
 np.float64(0.1574724447330466),
 np.float64(0.1574724447330466),
 np.float64(0.15650535813672986),
 np.float64(0.15650535813672986),
 np.float64(0.1556357543698668),
 np.float64(0.15511334686589623),
 np.float64(0.1541517600345829),
 np.float64(0.15415176003458286),
 np.float64(0.15328483487124145),
 np.float64(0.15299412477630142),
 np.float64(0.15242624470826976),
 np.float64(0.15174424466672098),
 np.float64(0.15086285728094284),
 np.float64(0.15058675831730728),
 np.float64(0.15018785229652767),
 np.float64(0.15018785229652765),
 np.float64(0.14975189244419534),
 np.float64(0.14974651178226578),
 np.float64(0.14933692277237473),
 np.float64(0.14933692277237473),
 np.float64(0.14912022701586516),
 np.float64(0.14910501299480672),
 np.float64(0.14900989016981742),
 np.float64(0.14886458551295736),
 np.float64(0.148431208798588),
 np.float64(0.14808721943977307),
 np.float64(0.14768094372379),
 np.float64(0.14748154320250398),
 np.float64(0.14686837386151166),
 np.float64(0.14599927901768628),
 np.float64(0.14599927901768628),
 np.float64(0.14567913668701624),
 np.float64(0.14552644042288465),
 np.float64(0.14456082739572798),
 np.float64(0.14429582107316452),
 np.float64(0.1433848336691011),
 np.float64(0.14316407166954997),
 np.float64(0.14273582042094193),
 np.float64(0.14227759830611805),
 np.float64(0.14180703562423225),
 np.float64(0.14180703562423225),
 np.float64(0.14180703562423225),
 np.float64(0.14159846508095772),
 np.float64(0.14159846508095772),
 np.float64(0.14159846508095772),
 np.float64(0.14159846508095772),
 np.float64(0.1399422857082639),
 np.float64(0.1391037210186643),
 np.float64(0.1391037210186643),
 np.float64(0.13834289277321493),
 np.float64(0.13834289277321493),
 np.float64(0.13770565818881086),
 np.float64(0.13767219793848368),
 np.float64(0.13764944032233706),
 np.float64(0.13710212427677043),
 np.float64(0.13685996549319585),
 np.float64(0.13685996549319585),
 np.float64(0.13679711361135388),
 np.float64(0.1361331925293325),
 np.float64(0.13572417850765922),
 np.float64(0.1357241785076592),
 np.float64(0.13555692745397502),
 np.float64(0.13497638119975425),
 np.float64(0.13497638119975425),
 np.float64(0.13450689671224256),
 np.float64(0.1343320988518935),
 np.float64(0.13382584475782766),
 np.float64(0.13382584475782766),
 np.float64(0.13334518676566623),
 np.float64(0.13334518676566623),
 np.float64(0.13245323570650439),
 np.float64(0.13245323570650439),
 np.float64(0.13245323570650439),
 np.float64(0.13245323570650436),
 np.float64(0.132005000120825),
 np.float64(0.13109470506889243),
 np.float64(0.13006649542861798),
 np.float64(0.13006649542861798),
 np.float64(0.13006649542861795),
 np.float64(0.13006649542861795),
 np.float64(0.12977713690461),
 np.float64(0.12948970103254506),
 np.float64(0.1290564332299168),
 np.float64(0.1290564332299168),
 np.float64(0.1284985132406471),
 np.float64(0.12811501208373438),
 np.float64(0.12804983847550624),
 np.float64(0.12725695259515554),
 np.float64(0.12725695259515554),
 np.float64(0.12695834376925205),
 np.float64(0.12667364798453495),
 np.float64(0.12612416730102238),
 np.float64(0.1260506983326509),
 np.float64(0.12565617248750865),
 np.float64(0.1251933489167979),
 np.float64(0.12519334891679787),
 np.float64(0.12487810821089251),
 np.float64(0.12428283974987417),
 np.float64(0.12389865694583801),
 np.float64(0.12372834943310806),
 np.float64(0.12361284651454937),
 np.float64(0.1233919118490934),
 np.float64(0.12297974198582043),
 np.float64(0.12297974198582043),
 np.float64(0.12227899701112961),
 np.float64(0.1222789970111296),
 np.float64(0.1216660658480719),
 np.float64(0.1216660658480719),
 np.float64(0.12166606584807188),
 np.float64(0.12105003117656304),
 np.float64(0.12001066808909962),
 np.float64(0.11980845957463077),
 np.float64(0.11969747440993465),
 np.float64(0.11969747440993464),
 np.float64(0.11969747440993464),
 np.float64(0.11959121830873498),
 np.float64(0.11946953821789978),
 np.float64(0.11946953821789978),
 np.float64(0.11946953821789978),
 np.float64(0.11946953821789977),
 np.float64(0.11920791213585391),
 np.float64(0.11846977555181845),
 np.float64(0.11846977555181845),
 np.float64(0.11846977555181845),
 np.float64(0.1183892660110542),
 np.float64(0.11838926601105419),
 np.float64(0.11768778828946262),
 np.float64(0.11764957176360048),
 np.float64(0.11764957176360048),
 np.float64(0.11764957176360048),
 np.float64(0.11764957176360046),
 np.float64(0.11749469908920933),
 np.float64(0.11717498502967603),
 np.float64(0.11712303424679454),
 np.float64(0.11689297502987947),
 np.float64(0.11654330934961299),
 np.float64(0.11654330934961299),
 np.float64(0.1164681928033949),
 np.float64(0.11615078990692514),
 np.float64(0.11589658124319134),
 np.float64(0.11566778213857244),
 np.float64(0.11561466260321597),
 np.float64(0.11561466260321597),
 np.float64(0.11542256460957982),
 np.float64(0.11470786693528087),
 np.float64(0.11470786693528087),
 np.float64(0.11470786693528087),
 np.float64(0.11470786693528087),
 np.float64(0.11470786693528086),
 np.float64(0.11382207864489445),
 np.float64(0.11314714296070713),
 np.float64(0.11314714296070713),
 np.float64(0.11295649894498098),
 np.float64(0.11243619908556621),
 np.float64(0.11243619908556621),
 np.float64(0.11211037093424212),
 np.float64(0.11211037093424209),
 np.float64(0.11194341570991126),
 np.float64(0.11164843913471803),
 np.float64(0.11134983352076111),
 np.float64(0.11134983352076111),
 np.float64(0.1113498335207611),
 np.float64(0.1113498335207611),
 np.float64(0.1113498335207611),
 np.float64(0.111323406598941),
 np.float64(0.11128297681493145),
 np.float64(0.1106817677872384),
 np.float64(0.11047363533322149),
 np.float64(0.11037769642208697),
 np.float64(0.11029436104106954),
 np.float64(0.11020775375559674),
 np.float64(0.11020775375559674),
 np.float64(0.10982442127674487),
 np.float64(0.10968169942141635),
 np.float64(0.10926834468453095),
 np.float64(0.10926834468453095),
 np.float64(0.10926834468453095),
 np.float64(0.10926834468453095),
 np.float64(0.10882143751650175),
 np.float64(0.10882143751650175),
 np.float64(0.10838874619051497),
 np.float64(0.10838874619051497),
 np.float64(0.10838874619051497),
 np.float64(0.10838874619051497),
 np.float64(0.10827043935570554),
 np.float64(0.10814761408717502),
 np.float64(0.10814761408717502),
 np.float64(0.10814761408717502),
 np.float64(0.10814761408717502),
 np.float64(0.108147614087175),
 np.float64(0.10748615458500278),
 np.float64(0.10740432270821092),
 np.float64(0.10740432270821092),
 np.float64(0.1074043227082109),
 np.float64(0.10729938440986901),
 np.float64(0.10729938440986901),
 np.float64(0.10729938440986901),
 np.float64(0.10715994395536395),
 np.float64(0.10705186531570646),
 np.float64(0.10667614941253299),
 np.float64(0.10667614941253299),
 np.float64(0.10650358071057624),
 np.float64(0.10650358071057624),
 np.float64(0.1064809179630677),
 np.float64(0.1064809179630677),
 np.float64(0.10635399695598369),
 np.float64(0.10635399695598369),
 np.float64(0.10619884881071828),
 np.float64(0.10591900946051636),
 np.float64(0.10526315789473682),
 np.float64(0.10526315789473682),
 np.float64(0.10495671428119792),
 np.float64(0.10495671428119792),
 np.float64(0.10471347707292387),
 np.float64(0.10471347707292386),
 np.float64(0.10457739712320041),
 np.float64(0.1039048666932262),
 np.float64(0.1037571695799112),
 np.float64(0.1037571695799112),
 np.float64(0.10375716957991118),
 np.float64(0.10375716957991118),
 np.float64(0.10375716957991118),
 np.float64(0.10366105360784114),
 np.float64(0.10366105360784114),
 np.float64(0.10366105360784114),
 np.float64(0.1032370802417528),
 np.float64(0.10317261749413631),
 np.float64(0.10280786170305815),
 np.float64(0.10259783520851541),
 np.float64(0.10259783520851541),
 np.float64(0.10259783520851541),
 np.float64(0.10259783520851541),
 np.float64(0.10259783520851541),
 np.float64(0.10259783520851541),
 np.float64(0.1025978352085154),
 np.float64(0.1025978352085154),
 np.float64(0.1025978352085154),
 np.float64(0.10197539568091137),
 np.float64(0.10197539568091137),
 np.float64(0.10197539568091137),
 np.float64(0.10147651372376074),
 np.float64(0.10147651372376074),
 np.float64(0.10138838820672658),
 np.float64(0.10138838820672658),
 np.float64(0.10138838820672658),
 np.float64(0.10138838820672658),
 np.float64(0.10138838820672658),
 np.float64(0.10138838820672658),
 np.float64(0.10138838820672658),
 np.float64(0.10133891838762797),
 np.float64(0.10133891838762797),
 np.float64(0.10116282977781396),
 np.float64(0.10039117221153819),
 np.float64(0.10039117221153819),
 np.float64(0.10039117221153819),
 np.float64(0.10039117221153819),
 np.float64(0.10039117221153818),
 np.float64(0.10036938356837077),
 np.float64(0.10036938356837077),
 np.float64(0.10036938356837077),
 np.float64(0.10012523486435176),
 np.float64(0.10012523486435176),
 np.float64(0.10012523486435176),
 np.float64(0.09984038297885897),
 np.float64(0.09984038297885897),
 np.float64(0.09959431881428264),
 np.float64(0.09959431881428263),
 np.float64(0.09959431881428263),
 np.float64(0.0993399267798783),
 np.float64(0.09895413919905867),
 np.float64(0.09883693657685835),
 np.float64(0.09838379358865636),
 np.float64(0.0983611844205792),
 np.float64(0.0983611844205792),
 np.float64(0.0983611844205792),
 np.float64(0.09832102880166932),
 np.float64(0.09832102880166932),
 np.float64(0.09809657456746182),
 np.float64(0.09733285267845751),
 np.float64(0.09694584179118515),
 np.float64(0.09694584179118515),
 np.float64(0.09694584179118515),
 np.float64(0.09694584179118515),
 np.float64(0.09673016668133488),
 np.float64(0.0966644309165688),
 np.float64(0.09637388493048532),
 np.float64(0.09637388493048532),
 np.float64(0.09637388493048532),
 np.float64(0.09637388493048532),
 np.float64(0.09637388493048532),
 np.float64(0.09619721404877635),
 np.float64(0.09597148699373931),
 np.float64(0.09597148699373931),
 np.float64(0.09567297464698797),
 np.float64(0.09567297464698797),
 np.float64(0.09567297464698797),
 np.float64(0.09567297464698797),
 np.float64(0.09567297464698797),
 np.float64(0.09567297464698797),
 np.float64(0.09558988911273406),
 np.float64(0.09558988911273406),
 np.float64(0.09558988911273406),
 np.float64(0.09558988911273406),
 np.float64(0.09558988911273406),
 np.float64(0.09558988911273406),
 np.float64(0.09558988911273406),
 np.float64(0.09544271444636666),
 np.float64(0.09544271444636666),
 np.float64(0.09544271444636666),
 np.float64(0.09544271444636666),
 np.float64(0.09544271444636665),
 np.float64(0.09529323477053277),
 np.float64(0.09529323477053275),
 np.float64(0.09529323477053275),
 np.float64(0.09464970485606018),
 np.float64(0.09462916232627815),
 np.float64(0.09462916232627813),
 np.float64(0.09453802374948818),
 np.float64(0.09453802374948816),
 np.float64(0.09453802374948816),
 np.float64(0.09453802374948816),
 np.float64(0.09431035367836321),
 np.float64(0.09428928580058928),
 np.float64(0.09397878236968457),
 np.float64(0.0936585811581694),
 np.float64(0.09365858115816939),
 np.float64(0.09365858115816939),
 np.float64(0.09365858115816939),
 np.float64(0.09334163073596637),
 np.float64(0.09334163073596637),
 np.float64(0.09334163073596637),
 np.float64(0.09317455424271592),
 np.float64(0.09308574042571362),
 np.float64(0.09304036594559835),
 np.float64(0.09304036594559835),
 np.float64(0.09304036594559835),
 np.float64(0.09304036594559835),
 np.float64(0.09304036594559835),
 np.float64(0.09280323373346189),
 np.float64(0.09280323373346189),
 np.float64(0.09280323373346189),
 np.float64(0.09271726499455304),
 np.float64(0.09222859518214328),
 np.float64(0.09197090092274487),
 np.float64(0.09197090092274487),
 np.float64(0.09197090092274487),
 np.float64(0.09197090092274486),
 np.float64(0.09183979479633061),
 np.float64(0.09183979479633061),
 np.float64(0.0917662935482247),
 np.float64(0.0917662935482247),
 np.float64(0.0917662935482247),
 np.float64(0.09176629354822469),
 np.float64(0.09154684414630487),
 np.float64(0.09150522248280035),
 np.float64(0.09116056881941459),
 np.float64(0.09116056881941459),
 np.float64(0.09116056881941459),
 np.float64(0.09116056881941459),
 np.float64(0.09091675835657292),
 np.float64(0.09089518086526238),
 np.float64(0.09068453126375145),
 np.float64(0.09068453126375145),
 np.float64(0.09042001578168488),
 np.float64(0.09042001578168488),
 np.float64(0.09037128496931668),
 np.float64(0.09037128496931668),
 np.float64(0.09037128496931668),
 np.float64(0.09033950326094177),
 np.float64(0.0899842541331695),
 np.float64(0.0899842541331695),
 np.float64(0.0899842541331695),
 np.float64(0.0899842541331695),
 np.float64(0.08977310580745097),
 np.float64(0.08960215366342483),
 np.float64(0.08960215366342483),
 np.float64(0.08960215366342483),
 np.float64(0.08957179548750233),
 np.float64(0.08957179548750233),
 np.float64(0.08957179548750233),
 np.float64(0.08957179548750233),
 np.float64(0.08921722983855178),
 np.float64(0.08918325397005952),
 np.float64(0.08885233166386385),
 np.float64(0.08885233166386385),
 np.float64(0.08885233166386385),
 np.float64(0.08885233166386383),
 np.float64(0.08885233166386383),
 np.float64(0.08885233166386383),
 np.float64(0.08849904067559858),
 np.float64(0.08849904067559858),
 np.float64(0.08849904067559858),
 np.float64(0.08849904067559858),
 np.float64(0.08830215713766958),
 np.float64(0.08830215713766958),
 np.float64(0.08820139006486122),
 np.float64(0.08812102431690699),
 np.float64(0.08812102431690699),
 np.float64(0.08812102431690699),
 np.float64(0.08812102431690699),
 np.float64(0.08812102431690699),
 np.float64(0.0876095805063078),
 np.float64(0.08746392856766494),
 np.float64(0.08746392856766494),
 np.float64(0.08746392856766494),
 np.float64(0.08740748201220974),
 np.float64(0.08740748201220974),
 np.float64(0.08709270531385191),
 np.float64(0.08671099695241198),
 np.float64(0.08671099695241197),
 np.float64(0.08658487179917634),
 np.float64(0.08646430798325933),
 np.float64(0.08646430798325933),
 np.float64(0.08646430798325933),
 np.float64(0.08646430798325933),
 np.float64(0.08608581939007431),
 np.float64(0.08603090020146066),
 np.float64(0.08603090020146066),
 np.float64(0.08603090020146066),
 np.float64(0.08603090020146065),
 np.float64(0.08603090020146065),
 np.float64(0.08549819600709618),
 np.float64(0.08549819600709618),
 np.float64(0.08549819600709618),
 np.float64(0.08549819600709618),
 np.float64(0.08549819600709618),
 np.float64(0.08549819600709618),
 np.float64(0.08536655898367083),
 np.float64(0.08536655898367082),
 np.float64(0.08536655898367082),
 np.float64(0.08536655898367082),

In [126]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse = True, key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [127]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman
Batman & Robin

## Frontend

In [128]:
import pickle

In [129]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [130]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], shape=(4806,), dtype=object)

In [131]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))

In [132]:
pickle.dump(similarity,open('similarity.pkl','wb'))